<div class="header-container text-center">
  <div class="header">
    <div class="information">
      <%= image_tag 'le-wagon.png', class: 'logo slideDown' %>
      <h3>
        by night
      </h3>
      <h1>
        A short trip to Front-end
      </h1>
      <div class="discover">
        <%= link_to "Apply now", "#apply", class: "btn btn-danger btn-lg" %>
      </div>
    </div>
  </div>
</div>
