<div class="container team text-center">
  <h2>
    Teachers
  </h2>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="team-member">
        <div class="team-member-img">
          <%= image_tag 'boris.jpg', alt: 'Boris Rorsvort', class: 'img-responsive' %>
        </div>
        <h5>Boris Rorsvort</h5>
        <h4><%= link_to "Boris Rorsvort", "https://www.linkedin.com/in/borisrorsvort", target: "_blank" %></h4>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="team-member">
        <div class="team-member-img">
          <%= image_tag 'anne.jpg', alt: 'Anne Collet', class: 'img-responsive' %>
        </div>
        <h5>Anne Collet</h5>
        <h4><%= link_to "Anne Collet", "https://www.lewagon.com/brussels", target: "_blank" %></h4>
      </div>
    </div>
  </div>
</div>
